// Code
//-------------------------------
// Inline and block-level code snippets. Includes tweaks to syntax highlighted
// snippets from Rouge and Gist embeds.

code,
pre {
  font-family: $serif;
}

// small code thingies
code {
  padding: .25em .5em;
  font-size: .85em;
  // Could be mistaken for a link if the user choses a similar link-color, so better no colored inline code.
  // color: $code-color;
  background-color: var(--code-bg-color);
  // No border radius to prevent repaint on code scroll
  // border-radius: 3px;
}

code.highlighter-rouge {
  box-shadow: 0 1px 1px var(--shadow-color);
}
